.grid_c1 {
    margin: 0 auto;
    width: 1190px;
}
/*----------------------service-------------------*/
.mod_service {
    padding: 30px 0;
    border-bottom: 1px solid #dedede;
}
.mod_service_list {
    overflow: hidden;
    height: 42px;
}
.mod_service_item {
    float: left;
    width: 297px;
}
.mod_service_unit {
    position: relative;
    margin: 0 auto;
    padding-left: 45px;
    width: 180px;
}
.mod_service_tit {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 42px;
    background-image: url(../images/ico_service.png);
    text-indent: -999px;
}
.mod_service_duo {
    background-position: 0 0;
}
.mod_service_kuai {
    background-position: 0 -43px;
}
.mod_service_hao {
    background-position: 0 -86px;
}
.mod_service_sheng {
    background-position: 0 -129px;
}
.mod_service_txt {
    overflow: hidden;
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
}
/*----------------------help-------------------*/
.mod_help {
    padding: 20px 0;
}
.mod_help_list {
    overflow: hidden;
    height: 160px;
}
/* nav */
.mod_help_nav {
    float: left;
    width: 198px;
    line-height: 22px;
}
.mod_help_nav_tit {
    margin-bottom: 5px;
    font-size: 14px;
}
/* cover */
.mod_help_cover {
    float: right;
    width: 200px;
    height: 150px;
    background: url(../images/ico_footer.png) no-repeat 0 0;
}
.mod_help_cover_tit {
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
}
.mod_help_cover_con {
    padding: 0 10px;
}
.mod_help_cover_more {
    text-align: right;
}
/*----------------------copyright-------------------*/
.mod_copyright_inner {
    padding: 15px 0;
    border-top: 1px solid #e1e1e1;
    text-align: center;
}
/* links */
.mod_copyright_split {
    margin: 0 10px;
    color: #ccc;
}
/* info */
.mod_copyright_info {
    padding: 10px 0;
    line-height: 22px;
    color: #999;
}
.mod_copyright_info a {
    color: #999;
}
.mod_copyright_split {
    margin: 0 10px;
    color: #ccc;
}
/* auth */
.mod_copyright_auth_ico {
    overflow: hidden;
    display: inline-block;
    margin: 0 3px;
    width: 103px;
    height: 32px;
    background-image: url(../images/ico_footer.png);
    line-height: 1000px;
}
.mod_copyright_auth_ico_1 {
    background-position: 0 -151px;
}
.mod_copyright_auth_ico_2 {
    background-position: -104px -151px;
}
.mod_copyright_auth_ico_3 {
    background-position: 0 -184px;
}
.mod_copyright_auth_ico_4 {
    background-position: -104px -184px;
}
.mod_copyright_auth_ico_5 {
    background-position: 0 -217px;
}
.mod_copyright_auth_ico_6 {
    background-position: -104px -217px;
}