
/*----------------------coupon-------------------*/

.mod_ver {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    font-size: 0;
}

/*---------head--------*/

.coupon_hd {
    float: left;
    width: 190px;
    height: 215px;
    background-color: #ea3524;
}
.coupon_entry {
    display: block;
    padding: 25px;
    width: 140px;
    height: 165px;
    color: #fff;
}
.coupon_entry:hover {
    color: #fff;
}
.coupon_entry_tit {
    overflow: hidden;
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 30px;
    font-family: fzzhengheis-el-gbregular;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
}
.coupon_entry_gap {
    display: block;
    margin-top: 8px;
    margin-bottom: 20px;
    width: 55px;
    height: 3px;
    background-color: #fff;
}
.coupon_entry_txt {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.coupon_entry_btn {
    display: block;
    position: relative;
    margin-top: 20px;
    padding: 2px 35px 4px 15px;
    height: 20px;
    border: 2px solid #fff;
    line-height: 20px;
    overflow: hidden;
}
.coupon_entry_btn_ico {
    position: absolute;
    right: 15px;
    top: 5px;
    width: 15px;
    height: 16px;
}
/*---------body--------*/

.coupon_bd {
    float: right;
}
.coupon_list {
    padding: 10px 0;
}
.coupon_item {
    position: relative;
    float: left;
    width: 199px;
    height: 195px;
    border-right: 1px solid #e7e7e7;
    overflow: hidden;
}
.coupon_item_lk {
    display: block;
    width: 100%;
    height: 100%;
}
.coupon_img {
    overflow: hidden;
    position: absolute;
    right: 15px;
    top: 25px;
    width: 140px;
    height: 140px;
}
.csstransitions .coupon_img {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -moz-transition: transform .5s,-moz-transform .5s;
    transition: transform .5s;
    transition: transform .5s,-webkit-transform .5s,-moz-transform .5s;
}
.csstransitions .coupon_item:hover .coupon_img {
    -webkit-transform: translateX(15px);
    -moz-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}
.coupon_info {
    position: absolute;
    z-index: 1;
    left: 15px;
    top: 15px;
    width: 100px;
    border-top: 3px solid #e93524;
    background-color: #fff;
}
.mod_price {
    font-size: 14px;
    color: #f10214;
}
.coupon_price {
    overflow: hidden;
    margin-top: 7px;
    height: 36px;
    line-height: 36px;
    font-size: 34px;
    font-weight: 700;
}
.mod_price i {
    margin-right: 3px;
    font-family: arial;
    font-weight: 400;
    font-size: 12px;
}
.coupon_desc {
    overflow: hidden;
    margin: 3px;
    height: 36px;
    line-height: 18px;
    color: #e93524;
}
.coupon_desc_txt {
    display: inline-block;
    vertical-align: middle;
}
.coupon_limit {
    overflow: hidden;
    padding: 15px 10px;
    width: 80px;
    height: 36px;
    background: #e7e7e7 url(data:image/jpg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAABBAAD/4QN3aHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLwA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/PiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA1LjYtYzA2NyA3OS4xNTc3NDcsIDIwMTUvMDMvMzAtMjM6NDA6NDIgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ9InhtcC5kaWQ6ZjU4MGVkZWUtODkyMy0zNTQyLTlmNGYtMDY0MjZmNjQ0ZTI2IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkY0MTVFMjc0NzEwQzExRTY4OUM1REJENTBFRjc3NTA0IiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkY0MTVFMjczNzEwQzExRTY4OUM1REJENTBFRjc3NTA0IiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE1IChXaW5kb3dzKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkVBQkEyNjA3NzhENTExRTZBODUzOUE4RjdBOUQ0NTM0IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkVBQkEyNjA4NzhENTExRTZBODUzOUE4RjdBOUQ0NTM0Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+/+4ADkFkb2JlAGTAAAAAAf/bAIQABQQEBAQEBQQEBQcFBAUHCQcFBQcJCggICQgICg0KCwsLCwoNDAwMDQwMDA8PEREPDxcWFhYXGRkZGRkZGRkZGQEGBgYKCQoUDQ0UFhEOERYZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZ/8AAEQgAAwAIAwERAAIRAQMRAf/EAFMAAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAAAFBQAAAAAAAAAAAAAAAAARMVECIaEyAxURAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AFzpPmzySTJWzgP/2Q==) repeat-x 0 0;
    color: #666;
}
.coupon_limit_txt {
    display: inline-block;
    vertical-align: middle;
}
.coupon_more {
    overflow: hidden;
    width: 100%;
    height: 26px;
    background: #e93524;
    line-height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    color: #fff;
}
.coupon_item_shadow {
    position: absolute;
    left: 100px;
    top: 33px;
    width: 15px;
    height: 117px;
    -moz-box-shadow: 0 0 30px #999;
    box-shadow: 0 0 30px #999;
}


/*----------------------rec_1-------------------*/

.rec_list {
    overflow: hidden;
    height: 100px;
}
.rec_item {
    overflow: hidden;
    float: left;
    width: 396px;
    height: 100%;
}
.o2_mini .rec_item {
    width: 330px;
}
.rec_img {
    display: block;
    margin: auto;
}
.csstransitions .rec_img {
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    transition: opacity .2s;
}
.csstransitions .rec_lk:hover .rec_img {
    opacity: .8;
}