/*-----------------------shortcut----------------------*/
/*--------一级菜单--------*/
#shortcut{
	height: 30px;
	background-color: #E3E4E5;
	border-bottom: 1px solid #DDDDDD;
	color: #999;
	position: relative;
	z-index: 3;
}
#shortcut a:visited,#shortcut a:link{
	color: #999;
}
#shortcut a:hover{
	color: #c81623;
}
#shortcut .style-red{
	color: #F10215!important;
}
/*logo*/
.logo img{
	display: block; 
	width: 190px;
	height: 170px;
	position: absolute;
	top: 0;
	left:0;
    -moz-box-shadow: 0 -12px 10px rgba(0,0,0,.2);
    box-shadow: 0 -12px 10px rgba(0,0,0,.2);
}
.location{
	line-height: 30px;
	position: absolute;
	left: 210px;
	top: 0;
}
#shortcut .spacer{
	width: 1px;
	height: 10px;
	float: left;
	border-left: 1px solid #CCCCCC; 
	margin: 11px 5px 0;
	padding: 0;
}
#shortcut li{
	display: list-item;
	line-height: 30px;
	position: relative;
}
.li_text{
	padding: 0 7px;
}
.mobile_text{
	width: 60px;
	padding: 0 7px;
	text-align: center;
}
#shortcut li i{
	position: absolute;
	top:0;
	right: 5px;
	margin-top: 1px;
}
.havei{
	display: inline-block;
	padding-right: 15px;
}
/*----------二级菜单----------*/
.location .dropdown-layer{
	width: 320px;
}
.arealist{
	padding: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.location .item{
	display: inline-block;
	width: 54px;
}
.location .item a{
	display: inline-block;
	height: 24px;
	line-height: 24px;
	text-align: left;
	padding: 0 8px;
}
.location .item a:hover{
	background-color: #eee;
}
.location .selected{
	background-color: #F10215;
}
.location .selected:link,
.location .selected:visited,
.location .selected:hover{
	background-color: #F10215!important;
	color: #fff!important;
}

.location .dropdown-layer,.myjd .dropdown-layer{
	top: 30px;
	left: 0;
}
.client-service .dropdown-layer,.mobile-jd  .dropdown-layer{
	top: 30px;
	right: 0;
}
.website-nav .dropdown-layer{
	width: 1190px;
	top: 30px;
	right: -87px;
	z-index: 2;
}
.myjdlist{
	width: 280px;
	padding: 6px 14px;
	float: left;
}
.cslist{
	width: 170px;
	padding: 6px 0;
	text-indent: 14px;
	float: left;
}
.myjdlist_2,.cslist_2{
	border-top: 1px solid #F6F6F6;
}
.myjd [class*="fore"]{
	width: 140px;
	float: left;
}
.client-service .item,.website-nav .item{
	width: 85px;
	float: left;
}
#shortcut .item-hd,#shortcut dt{
	font-weight: bold;
}
.website-nav [class*="fore"]{
	margin: 6px 0;
	padding-left: 14px;
	float: left;
	width: 261px;
	border-left: 1px solid #F6F6F6;
}
.website-nav .fore1{
	width: 346px;
	border: none;
}
.white-up-arrow{
	position: absolute;
	top: 13px!important;
	right: 28px!important;
	color: #fff;
	z-index: 1;
}
.mobile_static_qrcode{
	position: absolute;
	top: 30px;
	left: 3px;
	color: #fff;
	padding: 3px;
	border: 1px solid #CFCFCF;
}
/*手机京东悬浮层*/
.mobile_pop{
	display: none;
	width: 190px;
	position: absolute;
	top: 30px;
	right: 0;
	line-height: 1;
	border: 1px solid #CFCFCF;
	background-color: #fff;
}
.mobile_pop_item{
	height: 102px;
	border-bottom: 1px solid #E3E4E5;
}
.mobile_pop_qrcode{
	float: left;
}
.mobile_pop_qrcode img{
	width: 70px;
	height: 70px;
	padding: 3px;
	border: 1px solid #CFCFCF;
	margin: 12px 5px;
}
.mobile_pop_info{
	width: 86px;
	float: left;
	padding: 10px 16px 10px 0;
}
.mobile_pop_tit{
	font-weight: bold;
	line-height: 2;
}
.mobile_pop_value{
	color: #F10214;
}
.mobile_pop_device_lk{
	width: 25px;
	height: 25px;
	text-indent: -999px;
	float: left;
	overflow: hidden;
	margin-right: 2px;
	background: url(../images/sprite_mobile@1x.png) no-repeat;
}
.mobile_pop_device_ios{
	background-position: 0 0;
}
.mobile_pop_device_and{
	background-position: 0 -26px;
}
.mobile_pop_device_pad{
	background-position: 0 -52px;
}
