/* =Typography
-----------------------------------------------------------------------------*/

body {
	font: 12px Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
	color: #666;
}

.inner{
	width: 1190px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.fl{
	float: left;
}
.fr{
	float: right;
}
#header,#footer{
	height: 200px;
	background-color: #eee;
}


/*----------------------Nav Cate Menu CSS-------------------*/
/*a标签效果*/
.nav_cate_menu a:visited,.nav_cate_menu a:link,.cate_channel_lk a:hover{
	color: #fff;
}
.cate_detail a:visited,.cate_detail a:link{
	color: #666;
}
.nav_cate_menu a:hover{
	color: #c81623;
}
/*悬浮效果*/
.cate_menu li:hover{
	background-color: #999395;
}
.cate_menu li:nth-of-type(1):hover #cate_item1{
	display: block;
}
.cate_menu li:nth-of-type(2):hover #cate_item2{
	display: block;
}
.cate_menu li:nth-of-type(3):hover #cate_item3{
	display: block;
}
.cate_menu li:nth-of-type(4):hover #cate_item4{
	display: block;
}
.cate_menu li:nth-of-type(5):hover #cate_item5{
	display: block;
}
.cate_menu li:nth-of-type(6):hover #cate_item6{
	display: block;
}
.cate_menu li:nth-of-type(7):hover #cate_item7{
	display: block;
}
.cate_menu li:nth-of-type(8):hover #cate_item8{
	display: block;
}
.cate_menu li:nth-of-type(9):hover #cate_item9{
	display: block;
}
.cate_menu li:nth-of-type(10):hover #cate_item10{
	display: block;
}
.cate_menu li:nth-of-type(11):hover #cate_item11{
	display: block;
}
.cate_menu li:nth-of-type(12):hover #cate_item12{
	display: block;
}
.cate_menu li:nth-of-type(13):hover #cate_item13{
	display: block;
}
.cate_menu li:nth-of-type(14):hover #cate_item14{
	display: block;
}
.cate_menu li:nth-of-type(15):hover #cate_item15{
	display: block;
}
.cate_menu li:nth-of-type(16):hover #cate_item16{
	display: block;
}

.cate_channel_lk:hover{
	background-color: #5E5558;
}
/*一级菜单*/
.fs .inner{
	height: 480px;
}
.nav_cate_menu{
	width: 190px;
	height: 480px;
	color: #fff;
	padding-right: 10px;
	float: left;
}
.cate{
	width: 100%;
	height: 100%;
	background-color: #6E6568;
	font-size: 14px;
	line-height: 28px;
	text-indent: 12px;
	position: relative;
}
.cate_menu{
	padding: 16px 0;
}

/*二级菜单*/
.cate_part{
	display: none;
    position: absolute;
    left: 190px;
    top: 0;
    width: 998px;
    min-height: 478px;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    box-shadow: 2px 0 5px rgba(0,0,0,.3);
    text-indent: 0;
    font-size: 12px;
/*    -webkit-transition: top .25s ease;
    transition: top .25s ease;*/
}

.cate_part_col1{
	width: 778px;
	float: left;
	margin: 20px 0 20px 20px;
}
.cate_part_col2{
	width: 168px;
	float: left;
	margin: 20px 16px;
	line-height: 0;
}
.cate_brand{
	width: 168px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	align-content: flex-start;
}
.cate_brand_lk{
	margin: 0 0 1px 1px;
}
.cate_promotion{
	margin-top: 10px;
}
.cate_promotion_lk img{
	margin-bottom: 1px;
}
.cate_channel_lk{
	display: inline-block;
	background-color: #6E6568;
	padding: 0 10px;
	line-height: 24px;
}
.cate_detail{
	height: 16px;
	line-height: 16px;
}
.cate_detail_tit{
	display: inline-block;
	width: 65px;
	float: left;
	text-align: right;
	margin: 10px 0;
	padding: 0 10px;
}
.cate_detail_con{
	float: left;
	width: 690px;
	padding: 6px 0;
	border-bottom: 1px solid #EBEBEB;
}
#cate_item1 .cate_detail_item10 .cate_detail_con,
#cate_item2 .cate_detail_item8 .cate_detail_con,
#cate_item3 .cate_detail_item8 .cate_detail_con,
#cate_item4 .cate_detail_item10 .cate_detail_con,
#cate_item5 .cate_detail_item5 .cate_detail_con,
#cate_item6 .cate_detail_item8 .cate_detail_con,
#cate_item7 .cate_detail_item9 .cate_detail_con,
#cate_item8 .cate_detail_item10 .cate_detail_con,
#cate_item9 .cate_detail_item10 .cate_detail_con,
#cate_item10 .cate_detail_item10 .cate_detail_con,
#cate_item11 .cate_detail_item12 .cate_detail_con,
#cate_item12 .cate_detail_item7 .cate_detail_con,
#cate_item13 .cate_detail_item8 .cate_detail_con,
#cate_item14 .cate_detail_item11 .cate_detail_con,
#cate_item15 .cate_detail_item11 .cate_detail_con,
#cate_item16 .cate_detail_item7 .cate_detail_con{
	border: none;
}
.cate_detail_con_lk{
	display: inline-block;
	margin: 4px 0;
	padding: 0 10px;
	border-left: 1px solid #EBEBEB;
}