
.fbt_col1, .fbt_col2, .fbt_col3 {
    width: 390px;
    height: 444px;
    float: left;
    overflow: hidden;
}
.fbt_col1, .fbt_col2 {
    margin-right: 10px;
}
.box_hd_arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 19px solid #f6f6f6;
    border-right: 19px solid transparent;
}
/*----------------------fbt_col1-------------------*/

/*---------head--------*/

.find .box_hd {
    background: #4998a1;
    background-image: -webkit-linear-gradient(left,#4998a1,#2e828b);
    background-image: -moz-linear-gradient(left,#4998a1,#2e828b);
    background-image: linear-gradient(90deg,#4998a1,#2e828b);
}
.find .box_hd_dec {
    background: url(../images/sprite_index@1x.png) no-repeat -190px -96px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
}
/*---------body--------*/

.find .box_bd {
    padding: 10px;
    height: 369px;
}
.find_list {
    width: 370px;
    height: 363px;
    overflow: hidden;
}
.find_item {
    float: left;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.find_item_2, .find_item_4, .find_item_6 {
    border-right: 0;
    margin-right: -1px;
}
.find_item_lk {
    display: block;
    width: 185px;
    height: 120px;
    position: relative;
}
.find_item_name {
    font-size: 14px;
    color: #4998a1;
    position: absolute;
    top: 15px;
    left: 20px;
    width: 80px;
    line-height: 20px;
    z-index: 1;
    word-wrap: break-word;
}
.find_item_img {
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 80px;
    height: 80px;
    -webkit-transition: transform .4s ease-out;
    -o-transition: transform .4s ease-out;
    transition: transform .4s ease-out;
}
/*----------------------fbt_col2-------------------*/

/*---------head--------*/

.sup .box_hd {
    background: #76488e;
    background-image: -webkit-linear-gradient(left,#76488e,#662d72);
    background-image: -moz-linear-gradient(left,#76488e,#662d72);
    background-image: linear-gradient(90deg,#76488e,#662d72);
}
.sup .box_hd_dec {
    background: url(../images/sprite_index@1x.png) no-repeat 0 -160px;
}
/*---------body--------*/
.sup_tab {
    position: relative;
    width: 390px;
    height: 389px;
}
.sup_page {
    padding-top: 8px;
    height: 380px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.sup_page_lk {
    display: block;
    width: 360px;
    height: 141px;
    margin: 0 15px 18px;
    padding-top: 18px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}
.sup_desc {
    font-size: 14px;
    line-height: 16px;
    color: #666;
    text-indent: 10px;
    margin-bottom: 15px;
    text-align: left;
}
.sup_desc {
    font-size: 14px;
    line-height: 16px;
    color: #666;
    text-indent: 10px;
    margin-bottom: 15px;
    text-align: left;
}
.sup_btn {
    position: absolute;
    top: 160px;
    width: 20px;
    height: 50px;
    line-height: 50px;
    color: #797173;
    text-align: center;
    background: #f3f2f3;
    opacity: 0;
    z-index: 1;
}
.sup_tab:hover .sup_btn{
    opacity: 1;
}
/*左右控制键*/
.sup_btn_pre {
    left: 0;
}
.sup_btn_next {
    right: 0;
}
/*底部小圆点*/
.sup_ind {
    position: absolute;
    z-index: 1;
    bottom: 15px;
    width: 100%;
    line-height: 10px;
    text-align: center;
}
.sup_ind_item {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 7px;
    background: #c8c8c8;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.sup_ind_item.active {
    background: #e01222;
}
/*----------------------fbt_col3-------------------*/

/*---------head--------*/

.top .box_hd {
    background: #e77005;
    background-image: -webkit-linear-gradient(left,#e77005,#e45d04);
    background-image: -moz-linear-gradient(left,#e77005,#e45d04);
    background-image: linear-gradient(90deg,#e77005,#e45d04);
}
.top .box_hd_dec {
    background: url(../images/sprite_index@1x.png) no-repeat -190px 0;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
}
/*---------body--------*/
.top_tab {
    height: 389px;
}
.top_tab_head {
    padding: 6px 0 7px;
    font-size: 0;
    border-bottom: 1px solid #e7e7e7;
    width: 370px;
    height: 18px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.top_tab_head_item {
    display: inline-block;
    line-height: 18px;
    font-size: 14px;
    width: 77px;
    border-right: 1px solid #d2d1d1;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.top_tab_head_item_first {
    margin-left: -10px;
}
/*红色标志条*/
.top_tab_active {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 58px;
    height: 2px;
    background: #f10214;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -moz-transition: transform .3s ease,-moz-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease,-moz-transform .3s ease;
}
/*content*/
.top .top_tab_content {
    padding: 10px;
}
.top .top_tab_content_item {
    height: 335px;
    overflow: hidden;
    display: none;
}
.top .top_tab_content_item_on {
    display: block;
}
.top_list {
    height: 100%;
}
.top_item {
    position: relative;
    float: left;
    width: 123px;
    text-align: center;
}

.top_lk {
    display: block;
    padding: 12px 0;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    cursor: pointer;
}
.top_item_3 .top_lk, .top_item_6 .top_lk {
    border-right-color: #fff;
}
.top_item_4 .top_lk, .top_item_5 .top_lk, .top_item_6 .top_lk {
    border-bottom-color: #fff;
}
.top_name {
    height: 32px;
    text-align: left;
    padding: 0 11px;
    line-height: 16px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}
/*排名*/
.top_rank {
    position: absolute;
    top: 12px;
    left: 11px;
    color: #fff;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    background: url(../images/sprite_index@1x.png) no-repeat -100px -100px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    width: 30px;
    height: 40px;
}
.top_rank_1 {
    background-position: -104px -40px;
}
.top_rank_2 {
    background-position: -50px -100px;
}
.top_rank_3 {
    background-position: 0 -100px;
}