.jdm-toolbar-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9990;
    width: 0;
    height: 100%;
}
.jdm-toolbar-wrap a {
    text-decoration: none;
}
.jdm-toolbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-right: 6px solid #7a6e6e;
    -webkit-transition: right .3s ease-in-out 0s;
    -moz-transition: right .3s ease-in-out 0s;
    transition: right .3s ease-in-out 0s;
}
.jdm-tbar-panel-header .close-panel, .jdm-tbar-panel-header i, .jdm-toolbar-tab .tab-ico, .jdm-toolbar-tab .tab-tip, .jdm-toolbar-tabs .tabs-tip .ico {
    display: inline-block;
    background-image: url(../images/toolbars.png);
    background-repeat: no-repeat;
}
.hide, .none {
     display: none; 
}

/*----------------------panels-------------------*/
.jdm-toolbar-panels {
    position: absolute;
    left: 6px;
    top: 0;
    width: 270px;
    height: 100%;
    z-index: 2;
    background: #eceaea;
}
.jdm-toolbar-panel {
    width: 270px;
    height: 100%;
    position: absolute;
    background: #eceaea;
    visibility: hidden;
}
.jdm-tbar-panel-header {
    position: relative;
    width: 270px;
    height: 40px;
    line-height: 40px;
    background: #eceaea;
}
.jdm-tbar-panel-header i {
    margin-right: 4px;
    margin-left: 10px;
    vertical-align: top;
}
.jdm-tbar-panel-header .title {
    display: inline-block;
    height: 40px;
    color: #5e5050;
    font: 16px/40px "微软雅黑";
}
.jdm-tbar-panel-header .close-panel {
    width: 12px;
    height: 12px;
    background-position: 0 -250px;
    position: absolute;
    right: 8px;
    top: 16px;
    cursor: pointer;
    -webkit-transition: transform .2s ease-out 0s;
    -moz-transition: transform .2s ease-out 0s;
    transition: transform .2s ease-out 0s;
}
.jdm-tbar-panel-header .close-panel:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.jdm-tbar-panel-main {
    position: relative;
}
.jdm-tbar-panel-content {
    width: 270px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
iframe[Attributes Style] {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    width: 100%;
    height: 100%;
}
iframe {
    border-width: 0px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

/*----------------------header-------------------*/
.jdm-toolbar-header {
    position: absolute;
    top: 0;
    right: -6px;
}

/*----------------------tabs-------------------*/
.jdm-toolbar-tabs {
    position: absolute;
    top: 50%;
    left: -29px;
    width: 35px;
    margin-top: -61px;
}
.jdm-toolbar-tab {
    position: relative;
    width: 35px;
    height: 35px;
    margin-bottom: 1px;
    cursor: pointer;
    background-color: #7a6e6e;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.jdm-toolbar-tab .tab-tip {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 6px;
    height: 6px;
    background-position: -150px -150px;
    z-index: 999;
}
.jdm-toolbar-tab .tab-ico {
    width: 34px;
    height: 35px;
    margin-left: 1px;
    position: relative;
    z-index: 2;
    background-color: #7a6e6e;
}
.jdm-tbar-tab-jdvip .tab-ico {
    background-position: -88px -175px;
}
.jdm-tbar-tab-cart .tab-ico {
    background-position: -50px 0;
}
.jdm-tbar-tab-follow .tab-ico {
    background-position: -50px -50px;
}
.jdm-tbar-tab-history .tab-ico {
    background-position: -50px -100px;
}
.jdm-tbar-tab-message .tab-ico {
    background-position: -190px -150px;
}
.jdm-tbar-tab-jimi .tab-ico {
    background-position: -50px -150px;
}
.jdm-tbar-tab-top .tab-ico {
    background-position: -50px -250px;
}
.jdm-tbar-tab-feedback .tab-ico {
    background-position: -50px -300px;
}
.jdm-toolbar-tab .tab-text {
    width: 62px;
    height: 35px;
    line-height: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 微软雅黑;
    position: absolute;
    z-index: 1;
    left: 35px;
    top: 0px;
    background-color: rgb(122, 110, 110);
    border-radius: 3px 0px 0px 3px;
    transition: left 0.3s ease-in-out 0.1s;
}
.jdm-toolbar-tab .tab-sub {
    position: absolute;
    z-index: 3;
    right: 2px;
    top: -5px;
    height: 11px;
    padding: 1px 2px;
    border: 1px solid #b61d1d;
    overflow: hidden;
    color: #fff;
    font: 11px/11px verdana;
    text-align: center;
    min-width: 11px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #cc6060;
    background-image: linear-gradient(to bottom,#cc6060 0,#b61d1d 100%);
}
.jdm-toolbar-tabs .tabs-tip .ico {
    width: 15px;
    height: 12px;
    background-position: -98px -162px;
    position: absolute;
    top: 13px;
    left: 10px;
}
/*----------------------footer-------------------*/
.jdm-toolbar-footer {
    position: absolute;
    bottom: -1px;
    width: 100%;
    left: -29px;
}


/*----------------------选中样式-------------------*/
.z-jdm-tbar-tab-selected, .z-jdm-tbar-tab-selected .tab-ico {
    background-color: #c81623;
}
.z-jdm-tbar-tab-selected .tab-text, .z-jdm-tbar-tab-selected .tab-tip{
    display: none;
}
.z-jdm-tbar-tab-selected .tab-sub {
    color: #c81623;
    background-color: #fff;
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    text-shadow: 1px 0 1px rgba(0,0,0,.3);
}
.z-jdm-tbar-tab-hover .tab-tip {
    display: none;
}
.z-jdm-tbar-tab-hover, .z-jdm-tbar-tab-hover .tab-ico {
    background-color: #c81623;
}
.z-jdm-tbar-tab-hover .tab-text {
    left: -60px;
    background-color: #c81623;
}
.z-jdm-tbar-tab-hover .tab-sub {
    color: #c81623;
    background-color: #fff;
    background-image: -moz-linear-gradient(top,#fff,#fff);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#fff));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType='0');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    text-shadow: 1px 0 1px rgba(0,0,0,.3);
}
.z-jdm-toolbar-open .jdm-toolbar {
    right: 270px;
}


/*----------------------动画-------------------*/
.toolbar-animate-out {
    -webkit-animation: toolbar-scaleOut .35s ease-in;
    -moz-animation: toolbar-scaleOut .35s ease-in;
    animation: toolbar-scaleOut .35s ease-in;
}
@keyframes toolbar-scaleOut{
	0%{
		transform: translateX(270px);
	}
	100%{
		transform: translateX(0);
	}
}
.toolbar-animate-in {
    -webkit-animation: toolbar-scaleIn .35s ease-in-out;
    -moz-animation: toolbar-scaleIn .35s ease-in-out;
    animation: toolbar-scaleIn .35s ease-in-out;
}
@keyframes toolbar-scaleIn{
	0%{
		transform: scale(1);
		opacity: 1;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		transform: scale(0.8);
		opacity: 0;
	}
}


/*----------------------panels-------------------*/

/*---------ad--------*/
.jdm-tbar-panel-ad .jdm-tbar-panel-content {
    overflow: hidden;
}
/*---------cart--------*/
.jdm-tbar-cart-list {
    width: 100%;
}
.jdm-tbar-cart-item {
    padding: 0 5px;
    margin-bottom: 10px;
    background: #fff;
}
.jtc-item-goods {
    padding: 10px 0;
    position: relative;
    overflow: hidden;
}
.jtc-item-goods .p-img {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    padding: 0;
    margin-right: 5px;
}
.jtc-item-goods .p-name {
    height: 32px;
    line-height: 16px;
    margin-bottom: 4px;
    overflow: hidden;
}
.jtc-item-goods .p-price {
    height: 16px;
    padding-right: 65px;
    overflow: hidden;
    font: 12px/16px verdana;
    color: #666;
}
.jtc-item-goods .p-del {
    position: absolute;
    right: 10px;
    top: 52px;
    width: 35px;
    height: 16px;
    line-height: 16px;
    color: #005aa0;
    text-align: right;
    display: none;
}
.jtc-item-promo {
    padding: 12px 0 12px 57px;
    border-bottom: 1px dashed #e1e1e1;
    position: relative;
}
.jtc-item-promo .promo-tag {
    position: relative;
    float: left;
    width: 40px;
    height: 20px;
    margin-top: -1px;
    margin-left: -57px;
    margin-right: 17px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(245, 136, 19);
    font: 12px/20px 宋体;
}
.jtc-item-promo .promo-text {
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font: 12px/18px verdana;
}
/*footer*/
.jdm-tbar-panel-cart .jdm-tbar-panel-footer {
    height: 50px;
    background-color: #eceaea;
}
.jdm-tbar-checkout {
    height: 40px;
    padding: 5px 110px 5px 5px;
    position: relative;
}
.jdm-tbar-checkout .jtc-number {
    line-height: 20px;
}
.jdm-tbar-checkout .jtc-number strong {
    font-family: verdana;
    color: #c81623;
}
.jdm-tbar-checkout .jtc-sum {
    line-height: 20px;
}
.jdm-tbar-checkout .jtc-btn {
    position: absolute;
    right: 5px;
    top: 7px;
    width: 110px;
    height: 35px;
    text-align: center;
    color: rgb(255, 255, 255);
    font: 16px/35px 微软雅黑;
    background: rgb(200, 22, 35);
}
.jdm-toolbar-wrap a {
    text-decoration: none;
}
/* follow */
.jdm-tbar-panel-follow .follow-tabnav {
    width: 270px;
    position: absolute;
    z-index: 2;
    -webkit-backface-visibility: hidden;
}
.jdm-tbar-panel-follow .follow-tabnav ul {
    overflow: hidden;
}
.jdm-tbar-panel-follow .follow-tabnav .curr {
    border-bottom: solid 3px #c81623;
    color: #c81623;
}
.jdm-tbar-panel-follow .follow-tabnav li {
    cursor: pointer;
    float: left;
    position: relative;
    width: 90px;
    text-align: center;
    height: 37px;
    line-height: 40px;
    background: #fff;
    border-bottom: solid 3px #fff;
}
.jdm-tbar-panel-follow .follow-tabnav li a {
    font: 16px 微软雅黑;
    text-decoration: none;
}
.jdm-tbar-panel-follow a {
    color: #928a8a;
}
.jdm-tbar-panel-follow .follow-tabnav li span {
    font-size: 0;
    border-right: dashed 1px #ccc;
    display: block;
    position: absolute;
    right: 0;
    height: 17px;
    top: 12px;
    overflow: hidden;
}
.jdm-tbar-panel-content {
    width: 270px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
.jdm-tbar-panel-follow .follow-tabcontents {
    margin-top: 50px;
}
.jdm-tbar-panel-follow .follow-tabcontents .follow-tab-content-slected {
    display: block;
}
.jdm-tbar-panel-follow .follow-tabcontents .follow-tab-content {
    display: none;
    width: 270px;
    overflow: hidden;
    position: relative;
}
.jdm-tbar-panel-follow .follow-tabcontents .follow-tab-content {
    display: none;
    width: 270px;
    overflow: hidden;
    position: relative;
}

.jdm-tbar-panel-follow .follow-head-tip {
    color: #333;
    background: #fffdee;
    border: solid 1px #edd28b;
    text-align: center;
    height: 34px;
    line-height: 34px;
    margin-bottom: 10px;
    position: relative;
}
.jdm-tbar-panel-follow .follow-product-list ul {
    overflow: hidden;
    margin-right: -15px;
    margin-left: 17px;
}
.jdm-tbar-panel-follow .follow-product-list .fpl-item {
    float: left;
    position: relative;
    text-align: center;
    width: 100px;
    height: 120px;
    background: #fff;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 5px;
}

.jdm-tbar-panel-follow .follow-product-list .fpl-item .img-wrap {
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-bottom: 5px;
}
.jdm-tbar-panel-follow a {
    color: #928a8a;
}
.jdm-tbar-panel-follow .follow-product-list .fpl-item .add-cart-button {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    display: none;
    position: absolute;
    width: 100px;
    bottom: 25px;
    left: 5px;
    z-index: 3;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#CC1C191C', endColorstr='#CC1C191C');
    background: rgba(28,25,28,.8);
}
.jdm-tbar-panel-follow .follow-product-list .fpl-item .price {
    color: #c81623;
    text-decoration: none;
}
.jdm-tbar-panel-follow .follow-product-list .fpl-item .fpl-remove {
    background-position: 3px -198px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 15px;
    height: 17px;
    display: none;
}
.jdm-tbar-panel-follow .follow-bottom-more {
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-family: "\5b8b\4f53";
}