
/* =Typography
-----------------------------------------------------------------------------*/

body {
	font: 12px Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
	color: #666;
}

.inner{
	width: 1190px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.fl{
	float: left;
}
.fr{
	float: right;
}

#shortcut{
	height: 30px;
	background-color: #E3E4E5;
	border-bottom: 1px solid #DDDDDD;
	color: #999;
	position: relative;
}
#shortcut a:visited,#shortcut a:link{
	color: #999;
}
#shortcut .sp{
	color: #F10215!important;
}
.location{
	line-height: 30px;
	position: absolute;
	left: 210px;
	top: 0;
}
#shortcut .spacer{
	width: 1px;
	height: 10px;
	float: left;
	border-left: 1px solid #CCCCCC; 
	margin: 11px 5px 0;
	padding: 0;
}
#shortcut li{
	display: list-item;
	line-height: 30px;
	position: relative;
}
.li_text{
	padding: 0 7px;
}
#shortcut li i{
	position: absolute;
	top:0;
	right: 5px;
	margin-top: 1px;
}
.havei{
	display: inline-block;
	padding-right: 15px;
}
.myjd .dropdown-layer{
	top: 30px;
	left: 0;
}
.client-service .dropdown-layer{
	top: 30px;
	right: 0;
}
.website-nav .dropdown-layer{
	width: 1190px;
	top: 30px;
	right: -85px;
}
.myjdlist{
	width: 280px;
	padding: 6px 14px;
	float: left;
}
.cslist{
	width: 170px;
	padding: 6px 0;
	text-indent: 14px;
	float: left;
}
.myjdlist_2,.cslist_2{
	border-top: 1px solid #F6F6F6;
}
.myjd [class*="fore"]{
	width: 140px;
	float: left;
}
.client-service .item,.website-nav .item{
	width: 85px;
	float: left;
}
#shortcut .item-hd,#shortcut dt{
	font-weight: bold;
}
.website-nav [class*="fore"]{
	margin: 6px 0;
	padding-left: 14px;
	float: left;
	width: 261px;
	border-left: 1px solid #F6F6F6;
}
.website-nav .fore1{
	width: 346px;
	border: none;
}

		/*父元素*/
		.dropdown{
			position: absolute;
			top: 0px;
			left: 0px;
			background-color: #E3E4E5;
		}
		/*标签*/
		.dd-icon{
			position: relative;
			z-index: 1;
			text-align: center;
			border: 1px solid #E3E4E5;
			height: 28px;
			line-height: 28px;
			padding: 0 7px;
		}
		/*标签展开*/
		.dropdown-layer{
			border: 1px solid #E3E4E5;
			color: #666666;
			position: absolute;
			background-color: #fff;
			display: none;
		}
		/*鼠标悬浮时更改样式*/
		.dd-icon:hover~.dropdown-layer,.dropdown-layer:hover{
			display: block;
		}
		.dropdown-layer:hover~.dd-icon,.dd-icon:hover{
			background-color: #FFFFFF;
			padding-bottom: 2px;
			border-bottom: none;
		}