/*父元素*/
.dropdown{
	position: absolute;
}
/*标签*/
.dd-icon{
	position: relative;
	z-index: 3;
	text-align: center;
	border: 1px solid #E3E4E5;
	height: 28px;
	line-height: 28px;
	padding: 0 7px;
}

/*标签展开*/
.dropdown-layer{
	color: #666666;
	position: absolute;
	background-color: #fff;
	display: none;
}

/*鼠标悬浮时更改样式*/
.dropdown_hover .dropdown-layer{
	border: 1px solid #CFCFCF;
	display: block;
}
.dropdown_hover .dd-icon{
	border: 1px solid #CFCFCF;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	border-bottom: none;
}

.mobile-jd_hover .mobile_static_qrcode,
.website-nav_hover~.mobile-jd .mobile_static_qrcode{
	display: none;
}
.mobile-jd_hover .mobile_pop{
	display: block;
}