/*鼠标悬浮时更改样式*/
.dropdown:hover .dropdown-layer{
	border: 1px solid #CFCFCF;
	display: block;
}
.dropdown:hover .dd-icon{
	border: 1px solid #CFCFCF;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	border-bottom: none;
}

.mobile-jd:hover .mobile_static_qrcode,
.website-nav:hover~.mobile-jd .mobile_static_qrcode{
	display: none;
}
.mobile-jd:hover .mobile_pop{
	display: block;
}