
/* =Typography
-----------------------------------------------------------------------------*/

body {
	font: 12px Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
	color: #666;
}

.inner{
	width: 1190px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.fl{
	float: left;
}
.fr{
	float: right;
}

/* =Headings
-----------------------------------------------------------------------------*/
/*-------------促销活动---------------*/
#prehead{
	height: 80px;
	background-color: #A9291C;
	position: relative;
}
#prehead .inner{
	background: url(../images/promotion1.jpg) no-repeat 0 0;
}
#prehead .iconfont{
	position: absolute;
	top: 0;
	right: 0;
}
/*----------------页面上方短导航栏--------------*/
#shortcut{
	height: 30px;
	background-color: #E3E4E5;
	border-bottom: 1px solid #DDDDDD;
	color: #999;
	position: relative;
	z-index: 1;
}
#shortcut a:hover{
	color: #A9291C;
}
#shortcut a:visited,#shortcut a:link{
	color: #999;
}
#shortcut .sp{
	color: #F10215!important;
}
.location{
	line-height: 30px;
	position: absolute;
	left: 210px;
	top: 0;
}
#shortcut .spacer{
	width: 1px;
	height: 10px;
	float: left;
	border-left: 1px solid #CCCCCC; 
	margin: 11px 5px 0;
	padding: 0;
}
#shortcut li{
	display: list-item;
	line-height: 30px;
	position: relative;
}
.li_text{
	padding: 0 7px;
}
#shortcut li i{
	position: absolute;
	top:0;
	right: 5px;
	margin-top: 1px;
}
.havei{
	display: inline-block;
	padding-right: 15px;
}

/*------------------头部--------------------*/
#header{
	width: 100%;
	height: 300px;
	overflow: visible;
	position: relative;
	background-color: #F6F6F6;
}
/*logo*/
.logo img{
	display: block; 
	width: 190px; 
	height: 170px;
	position: absolute;
	top: -30px;
	left:0;
	z-index: 1;
}
/*搜索框*/
.form{
	/*position: relative;*/
	position: absolute;
	top: 25px;
	left: 330px;
}
.form>input{
	width: 498px;
	height: 33px;
	border: 1px solid #F10215;
}
.search-img-upload{
	position: absolute;
	top: 0;
	left: 0;
}
.upload-bg{
	width: 19px;
	height: 15px;
	display: block;
	background: url(../images/sprite-photo-search.png) no-repeat;
	position: absolute;
	top: 9px;
	left: 466px;
	cursor: pointer;
}
.upload-bg:hover{
	background: url(../images/sprite-photo-search.png) no-repeat -30px 0;
}
.upload-trigger{
	width: 500px;
	height: 500px;
	opacity: 0;
	display: none;
}
.submit-search{
	width: 50px;
	height: 35px;
	background-color: #F10215;
	color: #FFFFFF;
}


/* =Branding
-----------------------------------------------------------------------------*/




/* =Main Nav
-----------------------------------------------------------------------------*/




/* =Sub Nav
-----------------------------------------------------------------------------*/




/* =Main Content
-----------------------------------------------------------------------------*/




/* =section-one
-----------------------------------------------------------------------------*/



/* =section-two
-----------------------------------------------------------------------------*/



/* =section-three
-----------------------------------------------------------------------------*/



/* =section-four
-----------------------------------------------------------------------------*/



/* =Footer
-----------------------------------------------------------------------------*/
