/*购物车*/
#header .dropdown{
	width: 188px;
	height: 35px;
	position: absolute;
	top: 25px;
	right: 99px;
	background-color: #FFFFFF;
}
/*购物车标签*/
#header .dd-icon{
	color: #F10215;
	height: 33px;
	line-height: 33px;
	padding: 0;
}
#header .dd-icon i{
	font-size: 18px;
}
#header .dd-icon a{
	color: #F10215;
}
#header .dd-icon a:hover{
	color: #F10215;
}
#header .dd-icon a:visited,#header .dd-icon a:link{
	color: #F10215;
}
#shopping-count{
	width: 14px;
	height: 14px;
    position: absolute;
    top: 5px;
    left: 140px;
    right: auto;
    display: inline-block;
    padding: 1px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #f10215;
    -moz-border-radius: 7px;
    border-radius: 7px;
    min-width: 12px;
    text-align: center;
}
/*购物车展开时更改样式*/
.dd-icon:hover~.dropdown-layer{
	display: block;
}
.dd-icon:hover{
	background-color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	display: block;
	height: 35px;
	border-bottom: none;
}
/*购物车展开*/
.dropdown-layer{
	width: 308px;
	/*height: 200px;*/
	border: 1px solid #E3E4E5;
	color: #666666;
	position: absolute;
	top: 35px;
	left: -122px;
	background-color: #fff;
	display: none;
}
.dropdown-layer a:hover{
	color: #C0272C;
}

.cart_hd,.cart_bd,.cart_ft{
	width: 100%;
	float: left;
		/*background-color: gray;*/
}
.cart_bd{
		/*background-color: pink;*/
}

/*cart_hd*/
.cart_hd{
	height: 40px;
	text-indent: 8px;
	line-height: 40px;
}
/*cart_bd*/
.cart_bd>ul{
	display: block;
	width: 100%;
}
.cart_item_hd{
	float: left;
	width: 100%;
	height: 34px;
	border: 1px dotted #E3E4E5;
	background-color: #BFFAB1;
	line-height: 34px;
}
.cart_num,.cart_price{
	font-weight: bold;
}
.cart_item_hd_info{
	float: left;
}
.cart_item_hd_info>span{
	background-color: #F8670F;
	margin-left: 8px;
	color: #fff;
}
.cart_item_hd_price{
	float: right;
	margin-right: 8px;
}
.cart_item{
	display: block;
	width: 100%;
	line-height: 16px;
		/*background-color: red;*/
}
.cart_img,.cart_name,.cart_info{
	margin: 7px 0 7px 8px;
}
.cart_img{
	float: left;
	width: 50px;
	height: 50px;
	border: 1px solid #E3E4E5;
}
.cart_name{
	float: left;
	width: 120px;
		/*background-color: red;*/
}
.cart_info{
	float: right;
	width: 85px;
	text-align: right;
		/*background-color: blue;*/
	margin-right: 7px;
}
/*cart_ft*/
.cart_ft{
	line-height: 45px;
	height: 45px;
	background-color: #F6F6F6;
}
.cart_ft_info{
	float: left;
	margin-left: 8px;
}
.cart_ft_lk{
	float: right;
	margin: 7px 8px;
	font-weight: bold;
	display: block;
	width: 70px;
	height: 30px;
	background-color: #E43A3C;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
}
.cart_ft a{
	color: #FFFFFF;
}
.cart_ft a:hover{
	color: #FFFFFF;
}
.cart_ft a:visited,.dd-icon a:link{
	color: #FFFFFF;
}