
.service_ico_huafei,
.service_ico_jipiao{
	background-image:url(//misc.360buyimg.com/mtd/pc/index/home/images/sprite_fs@1x.png);
	background-size:156px 148px;
	background-repeat:no-repeat;
	width:24px;
	height:24px;
}
.service_ico_huafei{
	background-position:0 -88px;
}
.service_ico_jipiao{
	background-position:0 -44px;
}
.service_ico_dianying{
	background-position:-44px -44px;
}
.service_ico_youxi{
	background-position:-88px 0;
}
.service_ico_qyg{
	background-position:-88px -44px;
}
.service_ico_jiayou{
	background-position:0 0;
}
.service_ico_jiudian{
	background-position:-44px -88px;
}
.service_ico_huoche{
	background-position:-88px -88px;
}
.service_ico_zhongchou{
	background-position:-132px 0;
}
.service_ico_licai{
	background-position:-132px -44px;
}
.service_ico_lipin{
	background-position:-132px -88px;
}
.service_ico_baitiao{
	background-position:-44px 0;
}
@media only screen and (-o-min-device-pixel-ratio:3/2),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5){
	.mobile_btn_ico{
	background-image:url(//misc.360buyimg.com/mtd/pc/index/home/images/sprite_fs@2x.png);background-position:0 -102px;background-size:126px 118px;background-repeat:no-repeat;width:16px;height:16px;
}
.service_ico_huafei{
	background-position:0 -68px;
}
.service_ico_huafei,.service_ico_jipiao{
	background-image:url(//misc.360buyimg.com/mtd/pc/index/home/images/sprite_fs@2x.png);background-size:126px 118px;background-repeat:no-repeat;width:24px;height:24px;
}
.service_ico_jipiao{
	background-position:0 -34px;
}
.service_ico_dianying{
	background-position:-34px -34px;
}
.service_ico_dianying,.service_ico_youxi{
	background-image:url(//misc.360buyimg.com/mtd/pc/index/home/images/sprite_fs@2x.png);background-size:126px 118px;background-repeat:no-repeat;width:24px;height:24px;
}
.service_ico_youxi{
	background-position:-68px 0;
}
.service_ico_qyg{
	background-position:-68px -34px;
}
.service_ico_jiayou,.service_ico_qyg{
	background-image:url(//misc.360buyimg.com/mtd/pc/index/home/images/sprite_fs@2x.png);background-size:126px 118px;background-repeat:no-repeat;width:24px;height:24px;
}
.service_ico_jiayou{
	background-position:0 0;
}
.service_ico_jiudian{
	background-position:-34px -68px;
}
.service_ico_huoche,.service_ico_jiudian{
	background-image:url(//misc.360buyimg.com/mtd/pc/index/home/images/sprite_fs@2x.png);background-size:126px 118px;background-repeat:no-repeat;width:24px;height:24px;
}
.service_ico_huoche{
	background-position:-68px -68px;
}
.service_ico_zhongchou{
	background-position:-102px 0;
}
.service_ico_licai,.service_ico_zhongchou{
	background-image:url(//misc.360buyimg.com/mtd/pc/index/home/images/sprite_fs@2x.png);background-size:126px 118px;background-repeat:no-repeat;width:24px;height:24px;
}
.service_ico_licai{
	background-position:-102px -34px;
}
.service_ico_lipin{
	background-position:-102px -68px;
}
.service_ico_baitiao,.service_ico_lipin{
	background-image:url(//misc.360buyimg.com/mtd/pc/index/home/images/sprite_fs@2x.png);background-size:126px 118px;background-repeat:no-repeat;width:24px;height:24px;
}
.service_ico_baitiao{
	background-position:-34px 0;
}
;
}
